/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(1) #new-chat-box {
  background: url("../images4/hot12img1.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(2) #new-chat-box {
  background: url("../images4/hot12img2.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(3) #new-chat-box {
  background: url("../images4/hot12img3.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(4) #new-chat-box {
  background: url("../images4/hot12img4.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(5) #new-chat-box {
  background: url("../images4/hot12img5.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(6) #new-chat-box {
  background: url("../images4/hot12img6.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(7) #new-chat-box {
  background: url("../images4/hot12img7.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(8) #new-chat-box {
  background: url("../images4/hot12img8.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(9) #new-chat-box {
  background: url("../images4/hot12img9.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(10) #new-chat-box {
  background: url("../images4/hot12img10.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(11) #new-chat-box {
  background: url("../images4/hot12img11.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(12) #new-chat-box {
  background: url("../images4/hot12img12.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(13) #new-chat-box {
  background: url("../images4/hot12img13.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(14) #new-chat-box {
  background: url("../images4/hot12img14.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(15) #new-chat-box {
  background: url("../images4/hot12img15.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(16) #new-chat-box {
  background: url("../images4/hot12img16.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(17) #new-chat-box {
  background: url("../images4/hot12img17.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 6, ../sass/fix.scss */
.hot13_list div:nth-child(18) #new-chat-box {
  background: url("../images4/hot12img18.png") no-repeat !important;
  background-size: 100% auto !important;
  padding-bottom: 100%;
  height: 0;
}

/* line 17, ../sass/fix.scss */
#na_profile .mainbox .hotroom13 .hot13_list .chat-box .photo {
  position: static;
}
